.link {
    font-size: 72px;
    padding: 0px;
}

.sidebar {
    border: solid black 1px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#textArea {
    height: 200px;
}